
// COLORS
$color-primary: #829079;
$color-primary-light: #d9e8cf;
$color-primary-dark: #2a3723;

$color-secondary: #00c5d7;
$color-secondary-light: #b0ebf0;
$color-secondary-dark: #00828d;

$color-tertiary: #00abfa;
$color-tertiary-light: #b3e6fe;
$color-tertiary-dark: #0558a1;

$color-green: #80c147;
$color-green-light: #d9ecc7;
$color-green-dark: #27671b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #333;
$color-grey-dark: #777;
$color-grey-dark-2: #999;


$color-white: #fff;
$color-black: #000;

$color-warning: orangered;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
